body{
	color: white;
	background: url('bgimage.jpg') repeat;

}
h1 {
	color:green;
}
a:link{
	text-decoration: underline;
	color:aqua;
}
a:visited {
	text-decoration: underline;
	color:orange;
}
a:hover {
	text-decoration: none;
	font-weight:bold;
}
a:active{
	background-color: #7FFFD4
}